/*导航条*/

*{
    margin: 0;
    padding: 0;
}
.nav{
    position: relative;
    height: 100px;
}
.nav h1{
    display: inline;
    line-height: 100px;
    position: absolute;
    margin-left: 50px;
    font-size: 40px;
    color: #999;
    font-family: "Trebuchet MS";

}
.nav ul{
    margin-left: 350px;
    line-height: 100px;
}
.nav-img{
    display: none;
}
.nav li{
    margin-right: 40px;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-family: "Comic Sans MS";
}
.nav a{
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
}
.nav a:hover{
    color: #000;
}

/*轮播图*/

#imgs img{
    width: 100%;
    height: 600px;
    display: none;
    position: relative;
}
#imgs .selected{
    display: block;
}
#arrows {
    font-size: 130px;
    color: #ffffff;
    margin-top: -330px;
    position: relative;
    opacity: 0.4;
    cursor: pointer;


}
#prev{
    left: 30px;
    position: absolute;

}
#next{
    right: 30px;
    position: absolute;
}
#tabs{
    position: absolute;
    bottom: 20px;
    margin-left: 40%;
    cursor: pointer;
}
#tabs li{
    width: 35px;
    height: 35px;
    background: #c6c8ca;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
#tabs .selected{
    background: #d2b48c;
}

/*关于我*/
#about{

    margin-top: 500px;
    height: 500px;

}
#myself{
    width: 400px;
    margin-left: 120px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
    margin-top: 50px;
}
#introduce{
    margin-right: 150px;
}
#introduce h1{
    font-size: 32px;
    color: #000;
    letter-spacing: 2.5px;
    text-transform: capitalize;
}
#bg{
    width: 100px;
    position: absolute;
    margin-left: -165px;
    margin-top: 60px;
}
#introduce h5,p{
    color: #757474;
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 36px;
    font-family: 'Cabin', sans-serif;
    margin-top: 60px;
}
#introduce p{
    font-size: 16px;
    margin-top: 20px;
}
#resume {

    float: left;
    background-color: #425cbb;
    font-size: 12px;
    letter-spacing: 0.72px;
    padding: 17px 70px;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 30px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}
#resume a{
    color: #ffffff;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}