<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="sex" value="l">男
        <input type="radio" v-model="sex" value="f">女

        <!--多选框-->
        <input type="checkbox" v-model="sport" value="足球">足球
        <input type="checkbox" v-model="sport" value="篮球">篮球
        <input type="checkbox" v-model="sport" value="羽毛球">羽毛球

        <!--下拉列表-->
        <select v-model="school" id="">
            <option value="黑大">黑大</option>
            <option value="理工">理工</option>
            <option value="林大">林大</option>
        </select>

    </div>
</body>
<script src="vue.js"></script>
<script>

    new Vue({
        el:"#app",
        data:{
            sex:'l',
            sport:['足球'],
            school:'黑大'
        }
    })

</script>
</html>